<button class="btn btn-dark mb-3" (click)="showUserForm =!showUserForm"> Add User</button>

<div class="card card-body" *ngIf="showUserForm">
  <h2>Add User</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

    <div class="form-group">
      <label> First Name </label>
      <input type="text" [(ngModel)]="user.firstName" [ngClass]="{'is-invalid': userFirstName.errors && userFirstName.touched}"
        class="form-control" name="firstName" #userFirstName="ngModel" required minlength="2">


      <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">
        First Name required.
      </div>
      <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">
        Must be at least 2 characters
      </div>
    </div>

    {{user.firstName}}
    <div class="form-group">
      <label> Last Name </label>
      <input type="text" [(ngModel)]="user.lastName" [ngClass]="{'is-invalid': userLastName.errors && userLastName.touched}"
        class="form-control" name="lastName" #userLastName="ngModel" required minlength="2">

        
      <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">
        Last Name required.
      </div>
      <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">
        Must be at least 2 characters
      </div>
    </div>

    <div class="form-group">
      <label> Email </label>
      
      <input type="email" [(ngModel)]="user.email" 
      [ngClass]="{'is-invalid': userEmail.errors && userEmail.touched}"
        class="form-control" name="email" #userEmail="ngModel" required pattern="[A-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[A-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[A-z0-9](?:[A-z0-9-]*[A-z0-9])?\.)+(?:[A-z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b">

        
      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
        Must be at least 2 characters
      </div>
      <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">
        Email is not valid.
      </div>
    </div>

    <!-- <div class="form-group">
      <label> Street </label>
      <input type="text" class="form-control" [(ngModel)]="user.address.street" name="street">
    </div>

    <div class="form-group">
      <label> City </label>
      <input type="text" class="form-control" [(ngModel)]="user.address.city" name="city">
    </div>

    <div class="form-group">
      <label> County </label>
      <input type="text" class="form-control" [(ngModel)]="user.address.state"  name="state">
    </div> -->
    <button [disabled]="!userForm.form.valid " class="btn-block mb-3" [ngClass]="currentClasses">Add
      New User</button>
  </form>

</div>

<h2>Users</h2>

<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
  <!-- <ul *ngIf = "users.length > 0; else noUsers"> -->
  <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive" [style.border-color]="user.isActive ? 'green' : ''">

    <!-- <div class="col-sm-4">
      
       <img *ngIf = "user.image" class = "img-fluid" [src]="user.image" alt=""> -->
    <!-- <img *ngIf = "user.image" class = "img-fluid" bind-src ="{{user.image}}" alt=""> -->
    <!-- <img *ngIf = "user.image" class = "img-fluid" [src]="{{user.image}}" alt=""> -->
    <!-- </div> -->


    <h3> {{ user.firstName }} {{user.lastName}}
      <small>
        <button (click)="toggleHide(user)" class="btn btn-dark btn-sm">
          <i [ngClass]="user.hide ?'fa fa-plus' : 'fa fa-minus' "></i></button>
      </small> </h3>

    <ul class="list-group" *ngIf="!user.hide ">
      <li class="list-group-item"> Email: {{user.email}}</li>
      <!-- <li class="list-group-item"> Address : {{user.address.street}} {{user.address.city}} {{user.address.state}}</li> -->
      <!-- <div class="list-group-item">Balance: {{user.balance | currency:"EUR":"symbol"}} until {{ .5 | percent}}</div> -->
      <li class="list-group-item">Joined: {{ user.registered | date: "longDate"}}</li>
    </ul>






  </li>
</ul>

<!-- <ng-template #noUsers><h4>No Users Found</h4></ng-template> -->

<h4 *ngIf="users?.length ==0"> No users found </h4>

<h4 *ngIf="!loaded">Loading Users...</h4>